/* styling the banner section */
/* first need to make the position of the elements under the banner 
section relative to it */

.container
{
	width: 70vw;
}

.ContentBody
{
	background-color: var(--normalBackground);
}

#banner
{
	width: 100%;
	position: relative;
	height: 40vw; /* settting the height according to width makes it responsive */
	z-index: -2;
}
#banner img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	object-fit: cover;
	height: 100%;
}

#banner .title
{
	position: absolute;
	padding-top: 30vw;
	left: 5%;
	z-index: 1;
}

#banner .title span
{
	display: block;
	padding: 10px;
	font-size: 3vw;
	color: #fff;
	background-color: #151515;
	border-radius: 15px;
	opacity: 0.8;
	/* background-blend-mode: screen; */
}

/* creating an overlay over the banner image */
#banner:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #383838;
	opacity: 0.5;
	z-index: 1;
}

/* styling the text content section */

.ContentBody
{
	background-color: var(--normalBackground);
	color: var(--menuTextColor);
	padding: 10px;
	padding-top: 50px;
}

.ContentBody .textContent
{
	padding: 10px;
}

.ContentBody .textContent .title
{
	padding-bottom: 10px;
	letter-spacing: 2px;
	width: 80%;
	margin:0 auto;
}
.ContentBody .textContent .text
{
	opacity: 0.8;
	font-size: 14px;
	line-height: 20px;
	width: 80%;
	margin: 0 auto;
}

/* making the layout responsive */

@media screen and (min-width: 768px ) {
	
	.ContentBody
	{
		display: flex;
		justify-content: space-around;
	}
	
	.ContentBody .textContent
	{
		padding-top: 30px;
		width: 45%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 425px ) {
	
	.ContentBody .textContent .title , .ContentBody .textContent .text
	{
		width: 100%;
	}
	#banner .title span
	{
		padding: 5px 0;
		font-size: 12px;
		font-weight: bold;
		color: #d8d8d8;
	}
}


